@import "tailwindcss";
@theme{
    --color-primary: #01237C;
    --color-secondary: #5BBB7B;
    --color-heading:#333333;
    --color-paragraph:#666666;
    --color-footerclient:#111111;
    --color-footerfreelance:#1A463A
}